#todo-error{
  color: red;
  font-size: 2em;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
}

.white-trans{
  background-color: hsl(0, 0%, 96%, 0.4);
  
}


.extra{
  display: none;
}
.quoteBody:hover + .extra {
  display: block!important;
}

.textOutline{
	color: white;
	font-size: 33px;
  -webkit-text-stroke: 1px black;
}
