#todo-error{
  color: red;
  font-size: 2em;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
}

.white-trans{
  background-color: rgba(139, 135, 135, 0.5);
  
}


.extra{
  display: none;
}
.quoteBody:hover + .extra {
  display: block!important;
}

.textOutline{
	color: white;
	font-size: 22px;
  -webkit-text-stroke: .75px black;
  font-weight: bold;
}

.bg-black {
  background-color: darkslategrey;
}

.tOutline{
  color: white;
  -webkit-text-stroke: .75px black;
  font-weight: bold;
}

.tDanger{
  color: rgb(209, 19, 19);
  -webkit-text-stroke: .4px black;
  font-weight: bold;
}


.visable{
display: block!important;
}
.hidden{
display: none!important;
}